<!DOCTYPE html>

<head>
    <title>Listado de las tareas pendientes</title>
    <link rel="stylesheet" href="{% static 'estilo2.css' %}">
</head>

<body>


    <!DOCTYPE html>

<head>
    <title>Listado de las tareas pendientes</title>
    <link rel="stylesheet" href="estilo2.css">
</head>

<body>
        <h2>
            <a href="inicio.html" >Salir</a>
        </h2>

        <h1>Tareas Pendientes</h1>
        
        <form action="#" id="userInput">
            <input type="text" placeholder="Escriba aqui su tarea.." autofocus>
            <input type="submit" value="+" id="addBtn">
        </form>
        
        <div id="list" class="list-container">
 
        <div id="stats">
           
        </div>
        
        </div>
    <script src="scripts.js"></script>
</body>

</html>
        <h1>Tareas Pendientes</h1>
        <form action="#" id="userInput">
            <input type="text" placeholder="Escriba aqui su tarea.." autofocus>
            <input type="submit" value="+" id="addBtn">
        </form>
        
        <div id="list" class="list-container">
        
        <div id="stats">
           
        </div>
        
        </div>
    <script src="scripts.js"></script>
</body>

</html>
